In [119]:
import requests
dailystar=requests.get('https://www.thedailystar.net').text

In [120]:
from bs4 import BeautifulSoup
dailystar=BeautifulSoup(dailystar,'html.parser')

In [121]:
list=[]

In [122]:
for string in dailystar.stripped_strings:
                list.append(repr(string))

In [123]:
beg=list.index('"Today\'s News"')
end=list.index("'Latest'")

In [124]:
todays_news=list[beg+1:end]

In [132]:
todays_news

["'Bangladeshi Himsagar mangoes on the way to Italy, France and UK'",
 "'Farmers of coastal area triumph over salinity'",
 "'First death due to ‘black fungus’ reported in West Bengal'",
 '"Singapore\'s largest active Covid-19 cluster: What went wrong at Changi Airport?"',
 "'Cyclone Yaas: Bagerhat DC holds emergency meeting, asks to prepare 344 shelter centres'",
 "'Myanmar ethnic army attacks jade mining town, media say'",
 "'China says Martian rover takes first drive on surface of Red Planet'",
 "'Pandemic curbs only on paper'",
 "'Bangladesh urgently seeks 1.6 million AstraZeneca doses from UK'",
 "'Ambulance-truck collision leaves 2 dead in Narayanganj'",
 "'Women journalists start token hunger strike for immediate release of Rozina'",
 "'Mahmud tests positive for Covid-19'",
 "'Boat capsized in Mediterranean with Bangladeshi migrants was caught in storm: victims'",
 "'‘Winning important, but with one eye in future’'",
 '"Cyclone brewing over Andaman Sea \'may hit\' Bangladesh coast"',
 "'5 workers burnt in Narayanganj factory fire'",
 "'3 dead, 27 hurt as strong quake shakes southwest China'",
 "'In climate push, G7 agrees to stop international funding for coal'",
 "'Sinopharm Vaccine: China to give another six lakh doses as gift'",
 "'Hospital suffers, so do patients'",
 "'Bangladeshi Himsagar mangoes on the way to Italy, France and UK'",
 "'Europe will soon get to taste delectable mango from Bangladesh’s Satkhira district.'",
 "'Farmers of coastal area triumph over salinity'",
 "'First death due to ‘black fungus’ reported in West Bengal'",
 '"Singapore\'s largest active Covid-19 cluster: What went wrong at Changi Airport?"']

RangeIndex(start=0, stop=1, step=1)

In [1]:
import pandas as pd
pop=pd.read_csv('SYB63_327_202009_International Migrants and Refugees.csv')

In [3]:
pop.head()

,T03,International migrants and refugees,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Region/Country/Area,NaN,Year,Series,Value,Footnotes,Source
1,1,"Total, all countries or areas",2005,International migrant stock: Both sexes (number),191615574.0000,NaN,"United Nations Population Division, New York, ..."
2,1,"Total, all countries or areas",2005,International migrant stock: Both sexes (% tot...,2.9290,NaN,"United Nations Population Division, New York, ..."
3,1,"Total, all countries or areas",2005,International migrant stock: Male (% total Pop...,2.9686,NaN,"United Nations Population Division, New York, ..."
4,1,"Total, all countries or areas",2005,International migrant stock: Female (% total P...,2.8888,NaN,"United Nations Population Division, New York, ..."

In [6]:
pop.drop(columns={'Unnamed: 5','Unnamed: 6'},inplace=True)

In [9]:
pop.rename(columns= {'T03':'Area'},inplace=True)

In [10]:
pop.head()

,Area,International migrants and refugees,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,Region/Country/Area,NaN,Year,Series,Value
1,1,"Total, all countries or areas",2005,International migrant stock: Both sexes (number),191615574.0000
2,1,"Total, all countries or areas",2005,International migrant stock: Both sexes (% tot...,2.9290
3,1,"Total, all countries or areas",2005,International migrant stock: Male (% total Pop...,2.9686
4,1,"Total, all countries or areas",2005,International migrant stock: Female (% total P...,2.8888

In [24]:
pop.drop(index=0,inplace=True)

In [33]:
pop.rename(columns={'Unnamed: 2' : 'Year', 'Unnamed: 3': 'Type', 'Unnamed: 4':'Value'}, inplace=True)

In [44]:
pop.tail()

,International migrants and refugees,Year,Type,Value
Area,,,,
716,Zimbabwe,2019,International migrant stock: Female (% total P...,2.3180
716,Zimbabwe,2019,Total refugees and people in refugee-like situ...,8706.0000
716,Zimbabwe,2019,"Asylum seekers, including pending cases (number)",11155.0000
716,Zimbabwe,2019,Other of concern to UNHCR (number),969.0000
716,Zimbabwe,2019,Total population of concern to UNHCR (number),20830.0000

In [36]:
pop.set_index('Area',inplace=True)

In [42]:
for i in pop['International migrants and refugees']:
    i=pop[['Year','Type','Value']]

In [45]:
Zimbabwe

NameError: name 'Zimbabwe' is not defined